{% include 'adminheader.html'%}
<br><br><br>
<body style="background: pink">
	
	<h1 align="center"><font color="white">Owner Details</font></h1>
	<form method="post">
		<br><br>
	<table  align="center" class="table" style="width:700px;height: 200px;">
			<tr>
				<th><font color="white">Name</font></th>
				<th><font color="white">Address</font></th>
				<th><font color="white">Gender</font></th>
				<th><font color="white">Place</font></th>
				<th><font color="white">Phone</font></th>
				<th><font color="white">Email</font></th>
			</tr>
			<tbody>
			{% for row in data['cus']%}
			<td><font color="white"><b>{{row['NAME']}}</b></font></td>
			<td><font color="white"><b>{{row['address']}}</b></font></td>
			<td><font color="white"><b>{{row['gender']}}</b></font></td>
			<td><font color="white"><b>{{row['place']}}</b></font></td>
			<td><font color="white"><b>{{row['phone']}}</b></font></td>
			<td><font color="white"><b>{{row['email']}}</b></font></td>
			<td>
				<a href="?action=delete&id={{row['seller_id']}}&id1={{row['login_id']}}" class="btn btn-primary">Delete</a>
			</td>
		</tbody>
		{% endfor %}
	</table>
			

	</form>
<br><br><br><br>
{% include 'footer.html'%}
