{% include 'sellerheader.html' %}
<br><br><br>
<body style="background: rgb(240, 236, 237)">
	
	<h1 align="center"><font color="white">Contacts</font></h1>
	<form method="post">
		<br><br>
	<table  align="center" class="table" style="width:700px;height: 200px;">
			<tr>
				<th><font color="white">Name</font></th>	
				<th><font color="white">Phone</font></th>
			</tr>
			<tbody>
			{% for row in data['con']%}
			<td><font color="white"><b>{{row['NAME']}}</b></font></td>
			<td><font color="white"><b>{{row['phone']}}</b></font></td>
			<td><a href="/seller/viewreview?id={{row['customer_id']}}" class="btn btn-primary">Reviews</b></font></td>
			<td><a href="/seller/view_enquires?id={{row['customer_id']}}" class="btn btn-primary">Enquires</td>		
		</tbody>
		{% endfor %}
	</table>
			

	</form>
<br><br><br><br>
{% include 'footer.html' %}