{% include 'userheader.html'%}
<br><br><br>

<body style="background: rgb(244, 243, 243)">
	
	<h1 align="center"><font color="white">Properties</font></h1>
	<form method="post">
		<br><br><br>
	<table  align="center" class="table" style="width:700px;height: 200px;">
			<tr>
				<th><font color="white">Property Type</font></th>
				<th><font color="white">Owner Name</font></th>
				<th><font color="white">Image</font></th>
				<th><font color="white">Amount</font></th>
				<th><font color="white">Description</font></th>
				<th><font color="white">Status</font></th>
			</tr>
			<tbody>
			{% for row in data['pr']%}
			<td><font color="white"><b>{{row['cat_name']}}</b></font></td>
			<td><font color="white"><b>{{row['NAME']}}</b></font></td>
			<td><font color="white"><b><img src="/{{row['property_image']}}" width="200" height="200"><img></b></font></td>
			<td><font color="white"><b>{{row['amount']}}</b></font></td>
			<td><font color="white"><b>{{row['description']}}</b></font></td>
			<td><font color="white"><b>{{row['status']}}</b></font></td>
			<td><a href="/user/book_property?id={{row['property_id']}}" class="btn btn-primary">Book Property</a></td>

		</tbody>
		{% endfor %}
	</table>
			

	</form>
<br><br><br><br>

{% include 'footer.html'%}
